
<!-- ----------------- SISTEMA DESPLIEGUE ------------------ -->

<!-- -------------------------- Funcionarios  ------------------------ -->
<app-menu-etiqueta [etiqueta]="menu.etiquetaInicio" />

<app-menu-simple [menusimple]="menu.opcionSimpleDashboard" />
<app-menu-simple [menusimple]="menu.opcionSimpleSesion" />
<app-menu-simple [menusimple]="menu.opcionSimpleNotificaciones" />
<app-menu-simple [menusimple]="menu.opcionSimpleExplorar" />
<app-menu-simple [menusimple]="menu.opcionSimpleReportes" />

<!--
      ********** EJEMPLO MENU COMPLETO *******************
<app-menu-etiqueta [etiqueta]="menu.etiquetaFuncionarios" />
<app-menu-primer-nivel [primernivel]="menu.menuPrimerNivel" />
<app-menu-etiqueta [etiqueta]="menu.etiquetaSistema" />
<app-menu-segundo-nivel [segundonivel]="menu.menuSegundoNivel"/>
<app-menu-simple [menusimple]="menu.opcionSimple"/>
<app-menu-simple [menusimple]="menu.opcionSimpleAcercade"/>

-->


